{% extends "django_messages/base.html" %}
{% load i18n %}

{% block content %}
<h1>{% trans "Message" %}: {{ message.subject }}</h1>

<dl class="message-headers dl-horizontal">
    <dt>{% trans "Sender" %}</dt>
    <dd>{{ message.sender }}</dd>
    <dt>{% trans "Date" %} </dt>
    <dd>{{ message.sent_at|date:_("DATETIME_FORMAT")}}</dd>
</dl>

{% if message.recipient.subscription.is_active %}
	<blockquote>
		<p>{{ message.body|linebreaksbr }}</p>
	</blockquote>

	<p>
	{% ifequal message.recipient.pk user.pk %}
		{% if not reply_form %}
		<a href="{% url 'messages_reply' message.id %}" class="btn btn-default">
			↩️ {% trans "Reply" %}</a>
		{% endif %}
	{% endifequal %}
	<a href="{% url 'messages_delete' message.id %}" class="btn btn-default">
		🗑️ {% trans "Delete" %}</a>
	</p>

	{% if reply_form %}
	<h2>{% trans "Compose reply"%}</h2>
	<form action="{% url 'messages_reply' message.id %}" method="post">
	{% csrf_token %}
	<ul>
	{{ reply_form.as_ul }}
	</ul>
	<button type="submit" class="btn btn-success btn-lg">
		💯 {% trans "Send" %}</button>
	</form>
	{% endif %}
{% else %}
<div class="alert alert-warning">
	<p>Read messages, see patients phone number and reply to enquiries:
	<p>{% with message.recipient as user %}
		{% include 'subscribe-button.html' %}
	{% endwith %}
</div>
{% endif %}


{% endblock %}